@font-face {
  font-family: "Bleeding Cowboys";
  src: url("Bleeding_Cowboys.ttf");
}
main {
  font-family: cursive;
}

h1 {
  color: rgb(64, 115, 254);
}
h1:hover {
  color: rgb(255, 0, 0);
  width: -moz-fit-content;
  width: fit-content;
}
h1 {
  font-family: "Bleeding Cowboys";
}

p b {
  color: rgb(255, 0, 0);
}

h3 code {
  color: rgb(236, 163, 62);
}

h3 i {
  color: purple;
}

.horizontalRepeat {
  background-repeat: space no-repeat;
}

pre code {
  color: rgb(64, 115, 254);
}