$brightOrange: rgba(236, 163, 62, 1);
$offBlue: rgba(64, 115, 254, 1);
$brightRed: rgba(255, 0, 0, 1);
$primaryFont: "Bleeding Cowboys";
$secondaryFont: cursive;
@font-face {
    font-family: "Bleeding Cowboys";
    src: url("Bleeding_Cowboys.ttf");
}

@mixin redText {
    color: red;
}

@mixin boxShadow {
    box-shadow: 5px 5px grey;
}

@mixin textShadow {
    text-shadow: 2px 2px yellow;
}

@mixin animation1 {
    transform: scale(1) rotate(0deg);
    transition: transform 2s;
}

@mixin animation2 {
    transform: scale(2) rotate(15deg);
    transition: transform 2s;
}

@mixin one-for-all {
    transform: scale(1) rotate(0deg);
    transition: transform 2s;
    &:hover {
        transform: scale(.5) rotate(-15deg);
        transition: transform 2s;
    }
}

#mixin-button {
    @include animation1();
    &:hover {
        @include animation2
    }
}

#mixin-example {
    @include boxShadow();
    @include textShadow();
}

#one-for-all {
    @include one-for-all();
}

p {
    @include redText();
    @include one-for-all();
}

main {
    font-family: $secondaryFont;
}

h1 {
    color: $offBlue;
    &:hover {
        color: $brightRed;
        width: fit-content;
    }
    & {
        font-family: "Bleeding Cowboys";
    }
}

p b {
    color: $brightRed;
}

h3 {
    code {
        color: $brightOrange;
    }
}

$myColor: purple;
h3 {
    i {
        color: $myColor;
    }
}

$dragonPic: url(dragon-png.jpg);
$horizontalRepeat: space no-repeat;
.horizontalRepeat {
    background-repeat: $horizontalRepeat;
}

pre {
    code {
        color: $offBlue
    }
}