$brightOrange: rgba(236, 163, 62, 1);
$offBlue: rgba(64, 115, 254, 1);
$brightRed: rgba(255, 0, 0, 1);
$primaryFont: "Bleeding Cowboys";
$secondaryFont: cursive;
@font-face {
    font-family: "Bleeding Cowboys";
    src: url("Bleeding_Cowboys.ttf");
}

main {
    font-family: $secondaryFont;
}

h1 {
    color: $offBlue;
    &:hover {
        color: $brightRed;
        width: fit-content;
    }
    & {
        font-family: "Bleeding Cowboys";
    }
}

p b {
    color: $brightRed;
}

h3 {
    code {
        color: $brightOrange;
    }
}

$myColor: purple;
h3 {
    i {
        color: $myColor;
    }
}

$dragonPic: url(dragon-png.jpg);
$horizontalRepeat: space no-repeat;
.horizontalRepeat {
    background-repeat: $horizontalRepeat;
}

pre {
    code {
        color: $offBlue
    }
}