.inline {
    display: inline;
}

.block {
    display: block;
}

.none {
    display: none;
}

.green {
    color: green;
}

.dragon {
    background-image: url("dragon-png.jpg");
}

.width100 {
    width: 100%;
}

.gradient {
    background-image: linear-gradient(to bottom right, yellow, blue, red);
}

.i-orange,
.b-orange {
    color: orange;
}

i b {
    color: pink
}

b {
    color: gold
}

article {
    color: moccasin;
    font-weight: bold;
}

.black-bold {
    color: black;
    font-weight: bold;
}

#red-italic {
    color: red;
    font-style: italic;
}