.inline {
    display: inline;
}

.block {
    display: block;
}

.none {
    display: none;
}

.green {
    color: green;
}

.dragon {
    background-image: url(dragon-png.jpg);
}

.width100 {
    width: 100%;
}

.gradient {
    background-image: linear-gradient(to bottom right, yellow, blue, red);
}